$orange:  rgb(253, 162, 20);

$gray_100: rgb(188, 206, 217);
$gray_200: rgb(48, 72, 89);
$gray_300: rgb(21, 41, 56);

$white_100: rgb(252, 252, 252);
$white_200: rgb(242, 242, 242);

$blue_100: rgb(99, 149, 184);
$blue_200: rgb(113, 145, 165);
